<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>About</title>
</head>
<body>
    <a href="/"><img id="house-img" src="./house.png" alt="house"/></a>
    <h1>About me</h1>
    <h2>Monke</h2>
    <p>I'm a monkey, my name is <b>Monke</b> and  I'm 15 years old</p>
    <h4>Here is a picture of me</h4>
    <img id="selfie-img" src="./monke.png" alt="selfie"/>
</body>
</html>