<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Photo Gallery</title>
</head>
<body>
    <a href="/"><img id="house-img" src="./house.png" alt="house"/></a>
    <h1>Photo Gallery</h1>
    <h2>Me and my friends</h2>
    <p>Here I will show you how the real party is!<p>
    <section class="gallery">
        <div>
            <img src="./monkey-rizz.gif" alt="monkey-rizz"/>
            <img src="./orangutan-driving.gif" alt="orangutan-driving"/>
            <img src="./monkey-spinning.gif" alt="monkey-spinning">
        </div>
        <div>
            <img src="./monkey-rolling.gif" alt="monkey-rolling"/>
            <img src="./monkey-drinking.gif" alt="monkey-drinking"/>
            <img src="./monkey-bunny.gif" alt="monkey-bunny">
        </div>
        <div>
            <img src="./monkey-head.gif" alt="monkey-head"/>
            <img src="./monkey-dog.gif" alt="monkey-dog"/>
            <img src="./gorilla-slide.gif" alt="gorilla-slide">
        </div>
    </section>
</body>
</html>