<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Work</title>
</head>
<body>
    <a href="/"><img id="house-img" src="./house.png" alt="house"/></a>
    <h1>Work</h1>
    <h2>Taxy driver</h2>
    <p>My work is awesome, every day I work from 9am to 5pm driving people to their destination in my booga.</p>
    <p>At their first impression normally they are scared, but they stop screaming when I do the first spinning with the car.</p>
    <p>By the way if someone needs a taxi <b>my company accepts only:</b</p>
    <ul>
        <li>Cash 💲</li>
        <li>Dogecoins 🐶</li>
        <li>Bananas 🍌</li>
    </ul>
    <h4>Here is a picture of me working</h4>
    <img id="work-img" src="./monkey-work.png" alt="monkey-driving"/>
</body>
</html>